* {
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background: var(--primary-background);
}

html {
    font-size: 62.5%;
}

:root {
    --primary-background: #fffaf5;
    --primary-color: #FF5B2E;
}

/* common */

h1,h2,h3,h4,h5,h6 {
    font-family: "Sora", sans-serif;
}

.btn {
    --height: 5.6rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 24.6rem;
    height: var(--height);
    border-radius: 2.5rem;
    font-size: 1.4rem;
    font-weight: 600;
    border-radius: 999px;
    border: 1px solid rgba(0, 9, 88, 0.7);
    color: #000958;
    text-align: center;
}

.btn:hover {
    opacity: 0.85;
    cursor: pointer;
}

.btn--primary {
    color: #FFF !important;
    background: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

.btn__icon {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: #FFFAF5;
}

a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

input,button,select,textarea {
    font-family: inherit;
    font-size: inherit;
}

.section-heading__lv1,.section-heading__lv2,.section-heading__lv3 {
    color: #000958;
}

.section-heading__lv1 {
    font-size: 6.6rem;
    font-weight: 800;
}

.section-heading__lv2 {
    font-size: 5.2rem;
    font-weight: 700;
}

.section-heading__lv3 {
    font-weight: 600;
}

.section-desc__lv1,.section-desc__lv2 {
    color: #656689;
    font-weight: 400;
}

.section-desc__lv1 {
    font-size: 1.6rem;
}

.section-desc__lv2 {
    font-size: 1.4rem;
}

/* header */

.header {
    padding: 26px 0 ;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav__list {
    display: flex;
    column-gap: 36px;
}

.nav__link,.header-action__link {
    color: #5E6085;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.4rem;
}

.header-action__link:hover,
.nav__link:hover {
    color: #000958;
    text-shadow: .5px 0 0 currentColor;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__link {
    margin-right: 25px;
}

.header-action__btn {
    --height: 50px;

    min-width: 117px;
}

/* hero */

.hero {
    padding-top: 74px;
}

.hero__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 120px;
}

/* hero media */

.hero__media {
    position: relative;
    padding-bottom: 94px;
    display: flex;

}

.hero__img-wrap {
    display: flex;
    align-items: flex-end;
    width: 38.8rem;
    height: 48.8rem;
    border-radius: 1.6rem;
    background: #FE997B;
    border: 3px solid #fff;
    position: relative;
}

.hero__img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.hero__deco-left {
    position: absolute;
    z-index: -1;
    bottom: 10px;
    left: -58px;
}

.hero__deco-right {
    position: absolute;
    z-index: -1;
    top: 17px;
    right: -40px;
}

.hero__img-wrap-small {
    width: 18.6rem;
    height: 24.4rem;
    background: #FAA7AD;
    border: 2px solid #fdddde;
    margin: 0 0 -58px -23px;
    align-self: flex-end;
}

.hero__list {
    position: absolute;
    bottom: 0;
    left: 129px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 18px 14px;
    width: 250px;
    border-radius: 1rem;
    background: #FFF;
    box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
}

.hero-item {
    display: flex;
}

.hero-item:first-child {
    padding-bottom: 20px;
    border-bottom: 2px solid #dbdbe2;
}

.hero-item:last-child {
    padding-top: 20px;
} 

.hero-item__thumb {
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    border-radius: 1rem;
    background: #FEC23F;
}

.hero-item__info {
    margin-left: 10px;
    font-size: 1.4rem;
}

.hero-item__title {
    margin-bottom: 6px;
}

.hero-item__skeleton {
    margin-bottom: 6px;
    width: 11.8rem;
    height: 0.4rem;
    border-radius: 999px;
    background-color: #dbdbe2;
}

.hero-item:last-child .hero-item__thumb {
    background: #c6e2fa;
}

/* hero content */

.hero__heading {
    line-height: 7.6rem;
    margin-bottom: 24px;
}

.hero__desc {
    margin-bottom: 38px;
    width: 391px;
    font-weight: 400;
    line-height: 3rem;
}

.hero__row {
    display: flex;
    align-items: center;
}

.hero__cta-btn {
    --height: 60px;

    min-width: 189px;
    column-gap: 10px;
    font-size: 1.6rem;
    font-weight: 550;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero__cta-link {
    margin-left: 24px;
    color: #000958;
    font-size: 1.6rem;
    font-weight: 500;
    text-decoration: underline;
}

/* about */

.about {
    padding: 100px 0;
    margin: 37px 0 85px;
}

.about__inner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    row-gap: 146px;
}

/* about content 1 */

.about__label {
    color: #5E6085;
    font-family: Sora, "sans-serif";
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.6rem;
    margin-bottom: 15px;
}

.about__heading,.about__desc {
    width: 444px;
}

.about__heading {
    line-height: 6.2rem;
}

.about__desc {
    margin-top: 24px;
    line-height: 3rem;
}

.about__checklist {
    margin-top: 54px;
    display: grid;
    gap: 35px;
    grid-template-columns: auto auto;
    justify-content: flex-start;
}

.about__check-item {
    position: relative;
    display: flex;
    align-items: center;
    column-gap: 10px;
    color: #48496A;
    font-size: 1.8rem;
    font-weight: 500;
}

.about__check-item::before {
    display: inline-block;
    content: "";
    width: 2.4rem;
    height: 2.4rem;
    border-radius: 0.4rem;
    background: var(--primary-color);
    box-shadow: 0px 4px 15px -3px rgba(255, 93, 49, 0.69);
}

.about__check-item::after {
    position: absolute;
    content: url(../icon/tick.svg);
    top: 2px;
    left: 5px;
}

/* about media 1 */

.about__media-1 {
    position: relative;
}

.about__card {
    position: absolute;
    top: 165px;
    left: 0;
    padding: 30px 26px;
    width: 13.6rem;
    border-radius: 1rem;
    background: #5BD6E2;
    box-shadow: -15px 26px 48px 0px rgba(85, 240, 255, 0.17);
    text-align: center;
}

.about__card-title {
    color: #FFF;
    font-family: Sora;
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 4.2rem;
}

.about__card-desc {
    margin-top: 14px;
    color: #C6F4F9;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2rem;
}

.about__card-deco {
    position: absolute;
    top: -39px;
    right: -32px;
}

.about__img-wrap {
    position: relative;
    width: 49.4rem;
    margin-left: auto;
}

.about__img-wrap::after {
    position: absolute;
    content: "";
    inset:  auto 0 0 0;
    z-index: -1;
    height: 33.6rem;
    border-radius: 1.6rem;
    background: linear-gradient(180deg, #FCE0EF 0%, #FAC3D1 100%);
    box-shadow: 11px 18px 65px 0px rgba(255, 155, 121, 0.12);
}

.about__media1-img {
    width: 450px;
    display: block;
    margin: 0 auto;
}

.about__media1-deco {
    position: absolute;
    top: 158px;
    right: -50px;
    z-index: -2;
}

/* about media 2 */

.about__media-2 {
    position: relative;
}

.about__img-wrap-bottom {
    margin-left: 0;
    overflow: hidden;
    width: 45.8rem;
    border-radius: 1.8rem;
    border: 2px solid #FFF;
    background: linear-gradient(180deg, #C6E2FA 0%, #94C2EA 100%);
    box-shadow: 0px 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.about__media2-img {
    width: 100%;
}

.about__media2-deco {
    position: absolute;
}

.about__media2-deco:nth-child(1) {
    top: -16px;
    right: 140px;
}

.about__media2-deco:nth-child(2) {
    top: 13px;
    right: 190px;
}

.about__media2-deco:nth-child(3) {
    top: 33px;
    right: 106px;
}

.about__media2-deco:nth-child(4) {
    top: 55%;
    right: 94px;
}

.about__media2-deco:nth-child(5) {
    bottom: 150px;
    right: 146px;
}

.about__media2-deco:nth-child(6) {
    bottom: -55px;
    right: 85px;
}

/* about content 2 */

.about__heading-2 {
    line-height: 6.2rem;
}

.about__desc-bottom {
    margin-top: 24px;
    width: 51.1rem;
    line-height: 3rem;
}

.tab {
    margin-top: 52px;
}

.tab__list {
    position: relative;
    display: inline-flex;
    column-gap: 56px;
}

.tab__item-active::after, .tab__list::after, .tab__content-more::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    border-radius: 1px;
    opacity: 0.07;
    background: #FF5B2E;
}

.tab__item-active::after {
    opacity: 1;
    width: 95px;
}

.tab__item {
    position: relative;
    padding-bottom: 11px;
    display: flex;
    align-items: center;
    column-gap: 12px;
    cursor: pointer;
}

.tab__icon {
    width: 20px;
}

.tab__title {
    color: #48496A;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1;
}

.tab__contents {
    margin-top: 36px;
}

.tab__content-item {
    display: none;
}

.tab__content-item--active {
    display: block;
}

.tab__content-desc {
    width: 39.1rem;
    line-height: 2.4rem;
}

.tab__content-more {
    display: inline-block;
    position: relative;
    margin-top: 32px;
    color: #FF5D31;
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-bottom: 5px;
}

.tab__content-more::after {
    height: 1.5px;
    opacity: 1;
}

/* service */

.service {
    padding: 68px 0 100px;
    background: #FFF6ED;
}

.service__desc {
    color: #5E6085;
    text-align: center;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
    padding-bottom: 15px;
}

.service__heading {
    text-align: center;
    line-height: 6.2rem;
}

.service__list {
    margin-top: 71px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: .66fr 1fr .66fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 24px 67px;
    grid-template-areas: 
    ". service__img ."
    ". service__img ."
    ". service__img .";
}

.service__img {
    grid-area: service__img;
    margin-top: 18px;
    z-index: 1;

}

.service__item {
    padding: 30px 25px;
    border-radius: 1rem;
    border: 2px solid rgba(255, 188, 122, 0.26);
    background: #FFF;
}

.service__item--heading {
    position: relative;
    margin-left: 12px;
    line-height: 2.2rem;
    font-size: 2.2rem;
}

.service__item--heading::before {
    content: "";
    position: absolute;
    top: 0;
    left: -12px;
    width: 0.2rem;
    height: 2.2rem;
    border-radius: 999px;
    background: linear-gradient(90deg, #FF5B2E 0.39%, #FFA187 100.29%);
}

.service__item--desc {
    margin: 18px 0 24px;
    font-weight: 400;
    line-height: 2.4rem;
}

.service__item--link {
    display: inline-flex;
    align-items: center;
    color: #34396A;
    font-family: Sora;
    font-size: 1.2rem;
    font-weight: 400;
}

.service__item--link::after {
    content: url(../icon/arrowupright.svg);
    margin:1px 0 0 8px;
}

.service__img-wrap {
    position: relative;
}

.service__img-wrap::after {
    position: absolute;
    content: "";
    inset: auto 18px 0 18px;
    z-index: -1;
    height: 35rem;
    border-radius: 1rem;
    background: linear-gradient(180deg, #9DF1FB 0%, #73D0DB 108.14%);
}

.service__img-media {
    width: 100%;
    display: block;
    object-fit: cover;
}

.service__cta-wrap {
    display: flex;
    justify-content: center;
    margin-top: -25px;
}

.service__cta {
    min-width: 214px;
    color: #FF5B2E;
    border: 1px solid #FF5B2E;
    opacity: 0.6;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

/* staff */

.staff {
    padding: 130px 0;
}

.staff__desc {
    margin-bottom: 15px;
    color: #5E6085;
    text-align: center;
    font-family: Sora;
    font-size: 1.6rem;
    font-weight: 600;
}

.staff__heading {
    line-height: 6.2rem;
    text-align: center;
    margin-bottom: 45px;
}

.staff__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 35px;
}

.staff-item {
    text-align: center;
}

.staff-item__img-wrap {
    position: relative;
    border-radius: 12.95rem;
    margin: 0 16px;
}

.staff-item__img-wrap::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 92%;
    width: 100%;
    inset: auto 0 0 0;
    z-index: -1;
    border-radius: inherit;
}

.staff-item__img-wrap::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;
    width: calc(100% + 40px);
    transform: translateX(-50%);
    height: 100%;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
}

.staff-item:nth-child(1) .staff-item__img-wrap::before {
     background: linear-gradient(180deg, #90CCFF 0%, #59A8EB 95.96%);
}

.staff-item:nth-child(1) .staff-item__img-wrap::after {
    background-image: url(../img/staff-deco-1.svg);
}

.staff-item:nth-child(2) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #FF997E 0%, #F3752E 100%);;
}

.staff-item:nth-child(2) .staff-item__img-wrap::after {
    background-image: url(../img/staff-deco-2.svg);
}

.staff-item:nth-child(3) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #FABF3E 0%, #FFA14A 100%);
}

.staff-item:nth-child(3) .staff-item__img-wrap::after {
    background-image: url(../img/staff-deco-3.svg);
}

.staff-item:nth-child(4) .staff-item__img-wrap::before {
    background: linear-gradient(180deg, #5BD6E2 0%, #00A7CC 100%);
}

.staff-item:nth-child(4) .staff-item__img-wrap::after {
    background-image: url(../img/staff-deco-4.svg);
}

.staff-item:nth-child(even) .staff-item__img-wrap::after {
    background-position: 0 16px;
}

.staff-item__img {
    width: 100%;
    display: block;
    object-fit: cover;
    border-radius: inherit;
}

.staff-item__name {
    line-height: 2.2rem;   
    font-size: 2.2rem;
    margin-top: 14px;
}

.staff-item__title {
    margin-top: 29px;
    font-weight: 400;
}

.staff__cta-wrap {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.staff__cta {
    min-width: 193px;
    color: #FF5B2E;
    border: 1px solid #FF5B2E;
    opacity: 0.6;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
}

/* pricing */

.pricing {
    padding: 86px 0;
    background: #FFF6ED;
}

.pricing__container {
    width: 994px;
}

.pricing-heading {
    line-height: 6.2rem;
    text-align: center;
}

.pricing-desc {
    width: 70.9rem;
    text-align: center;
    font-size: 1.6rem;
    line-height: 3rem;
    margin: 24px auto 0;
}

.pricing__switch-wrap {
    margin-top: 38px;
    display: flex;
    justify-content: center;
}

.pricing__switch {
    position: relative;
}

.pricing__switch-label {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    width: 276px;
    height: 56px;
    border-radius: 99rem;
    border: 1px solid rgba(255, 91, 46, 0.6);
    cursor: pointer;
    user-select: none;
}

.pricing__switch-label::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 143px;
    height: 100%;
    border-radius: inherit;
    background-color: #FF5B2E;
}

.pricing__switch-value {
    z-index: 1;
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 500;
}

.pricing__switch-input:checked + .pricing__switch-label::before {
    width: 131px;
    left: auto;
    right: 0;
}

.pricing__switch-input:checked + .pricing__switch-label .pricing__switch-value:nth-child(1),
.pricing__switch-input:not(:checked) + .pricing__switch-label .pricing__switch-value:nth-child(2) {
    color: #FF5B2E;
}

.pricing__switch-inner {
    position: relative;
}

.pricing__sale-off {
    position: absolute;
    top: -10px;
    right: -112px;
}

.pricing__switch-input:not(:checked) ~ .pricing__sale-off {
    opacity: 0.3;
}

.pricing__list {
    margin-top: 56px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 44px;
    justify-items: center;
}

.pricing-item {
    width: 302px;
    padding: 30px 28px 43px;
    border-radius: 2rem;
    background: #FFF;
}

.pricing-item__type {
    margin-bottom: 8px;
    color: #FF5B2E;
    font-size: 1.2rem;
    font-weight: 400;
}

.pricing-item__heading {
    margin-bottom: 24px;
    color: #3F4065;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
}

.pricing-item__price {
    margin-bottom: 22px;
    color: #000958;
    font-family: Sora;
    font-size: 3.3rem;
    font-weight: 700;
}

.pricing-item__btn {
    --height: 44px;

    min-width: 100%;
    border-radius: 3.9rem;
    border: 1px solid rgba(255, 91, 46, 0.60);
    background-color: transparent;
    color: #FF5B2E;
    font-size: 1.6rem;
    font-weight: 500;
}

.pricing-item__list {
    margin-top: 24px;
}

.pricing-item__item {
    display: flex;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
}

.pricing-item__item::before {
    content: url(../icon/pricing-tick.svg);
    margin-right: 24px;
}

.pricing-item__item:not(:last-child) {
    margin-bottom: 18px;
}

/* review */

.review__row {
    margin-top: 110px;
    display: flex;
    align-items: center;
}

.review__control {
    display: flex;
    justify-content: center;
    align-items: center;
    display: block;
    flex-shrink: 0;
    width: 5.4rem;
    height: 5.4rem;
    color: #FF5B2E;
    background-color: transparent;
    border-radius: 50%;
    border: 1.5px solid #FFD1C4;
    cursor: pointer;
}

.review__control:hover {
    color: #fff;
    border-color: #FF5B2E;
    background-color: #FF5B2E;
}

.review__content {
    overflow: hidden;
}

.review__list {
    display: flex;
}

.review-item {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    width: 100%;
}

.review__img-wrap {
    margin: 0  115px 0 44px;
    width: 274px;
    flex-shrink: 0;
    position: relative;
    border-radius: 0 999px 999px 999px;
}

.review__img-wrap::before {
    position: absolute;
    content: "";
    background: #FFDA54;
    bottom: 0;
    left: 0;
    right: 0;
    top: auto;
    height: 92%;
    width: 100%;
    z-index: -1;
    border-radius: 999px;
}

.review__img {
    display: block;
    position: relative;
    width: 100%;
    object-fit: cover;
    border-radius: inherit;
}

.review-item__content {
    margin-right: 76px;
    width: 55.3rem;
}

.review__heading {
    line-height: 6.2rem;
    margin-bottom: 24px;
}

.review__content-quote {
    color: #000;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 2.8rem;
}

.review__content-name {
    display: flex;
    column-gap: 8px;
    margin-top: 34px;
    color: #282828;
    font-family: Sora;
    font-size: 1.8rem;
    font-weight: 600;
}

.review__content-name::before {
    content: "";
    width: 2rem;
    height: 0.2rem;
    background: #000;
    border-radius: 999px;
    margin: auto 0;
}

.review__dots {
    margin-top: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 8px;
}

.review__dot {
    width: 0.8rem;
    height: 0.8rem;
    flex-shrink: 0;
    border-radius: 0.4rem;
    border: 1px solid #FF5B2E;
}

.review__dot:hover {
    background: #FF5B2E;
    cursor: pointer;
}

.review__dot--active {
    width: 2.4rem;
    background: #FF5B2E;
}

/* blog */

.blog {
    margin-top: 130px;
}

.blog__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog__desc {
    width: 35rem;
    color: #656689;
    line-height: 3rem;
    margin-bottom: 24px;
}

.blog__cta {
    min-width: 186px;
    border-radius: 3.1rem;
    border: 1px solid #FF5B2E;
    opacity: 0.6;
    box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
    color: #FF5B2E;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 500;
}

.blog__list {
    margin-top: 54px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 48px;
}

.blog-item__img-wrap {
    border-radius: 2.4rem;
    padding: 24px 0 0 36px;
    background: #90CCFF;    
    width: 35.8rem;
}

.blog-item:nth-child(2) .blog-item__img-wrap {
    background: #FF997E;
}

.blog-item:nth-child(3) .blog-item__img-wrap {
    background: #5BD6E2;
}

.blog-item__time {
    display: block;
    color: #FFF;
    padding-bottom: 24px;
    font-family: Sora;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.7rem;
}

.blog-item__img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.blog-item__info {
    margin-top: 28px;
}

.blog-item__title {
    font-family: Sora;
    font-size: 2.2rem;
    line-height: 3.4rem;
}

.blog-item__desc {
    width: 35.5rem;
    margin-top: 16px;
    color: #656689;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 2.4rem;
}